<div class="d-flex justify-content-center">
    <div class="col-12 col-lg-5">
        <div class="form-signin">
            <form action="" [formGroup]="loginForm" autocomplete="off" (ngSubmit)="login()">
                <div class="text-center mb-4">
                    <h3 class="mb-3 font-weight-normal">Login</h3>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" placeholder="Username (Email)"
                    [class.is-invalid]="submitted && loginForm.get('userName')?.errors" formControlName="userName">
                    <label for="userName">Username (Email)</label>

                    <span class="text-danger" *ngIf="submitted && loginForm.get('userName')?.hasError('required')">Username is required</span>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" placeholder="Password"
                    [class.is-invalid]="submitted && loginForm.get('password')?.errors" formControlName="password"  >
                    <label for="password">Password</label>
                    <span class="text-danger" *ngIf="submitted && loginForm.get('password')?.hasError('required')">Password is required</span>
                </div>
                <div class="form-floating" *ngIf="errorMessage.length>0">
                    <app-validation-messages [errorMessages]="errorMessage"></app-validation-messages>
                    <a class="btn btn-link" (click)="resendEmailConfirmationLink()"  *ngIf="errorMessage[0].includes('Please confirm your email')">Resend Email Confirmation Link</a>

                </div>

                <div class="d-grid mt-4 px-1">
                    <button class="btn btn-lg btn-info" type="submit" >Log in</button>
                </div>
                <div class="mt-4 text-center">
                    <a class="btn btn-link" >
                        <h6>Forgot username or password</h6>
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>