<div class="d-flex justify-content-center">
    <div class="col-12 col-lg-5">
        <div class="form-signin">
            <form action="">
                <div class="text-center mb-4">
                    <h6 class="mb-3 font-weight-normal">
                        Let's Get Started to
                        <span class="text-danger">Play</span>
                    </h6>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" placeholder="First Name">
                    <label for="firstname">First Name</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" placeholder="Last Name">
                    <label for="lastname">Last Name</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" placeholder="Email">
                    <label for="email">Email</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" placeholder="Password">
                    <label for="password">Password</label>
                </div>
                <div class="d-grid mt-4 px-1">
                    <button class="btn btn-lg btn-info" type="submit">Create Account</button>
                </div>
             
            </form>
        </div>
    </div>
</div>